html,
body,
{
  height: 100%;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;

  #root {
    height: 100%;
    width: 100%;
  }
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: gray;

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;

    .count {
      display: flex;
      max-width: 97%;
      width: 97%;
      padding: 0.8%;
      background-color: #e0e0d1;
    }
  }


  .middle {
    width: 100%;
    max-width: 100%;
    height: 80%;
    max-height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .wrapper {
      width: 98.6%;
      max-width: 100%;
      max-height: 100%;
      overflow-y: auto;
      align-items: flex-end;
      justify-content: flex-end;
      align-content: flex-end;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;

    .bottom-item {
      display: flex;
      max-width: 98.6%;
      width: 98.6%;

      .new-todo {
        width: 100%;
        padding: 0.8% 0 0.8% 0.8%;
        border: none;
        background-color: #e0e0d1;
        text-align: left;
      }
    }
  }

  input {
    border: none;
    font-size: 18px;
    color: gray;
  }

  input::-webkit-input-placeholder {
     color: gray;
     text-align: left;
  }

  input:focus {
    outline: none;
  }
}
