.todo-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 98%;
  height: 85px;

  .picture {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    padding: 10px;
    img {
      width: 60px;
      height: 60px;
      -moz-border-radius: 30px;
    	-webkit-border-radius: 30px;
    	border-radius: 30px;
    }
  }

  .input {
    display: flex;
    width: 70%;
    justify-content: center;
    position: relative;

    .todo {
      width: 100%;
      background-color: #ebebe0;
      padding: 10px;
      margin-left: 10px;
    }

    .arrow {
      position: absolute;
      border: solid 10px transparent;
      border-right-color: #ebebe0;
      left: -10px;
      top: 12px;
    }

    .create-date {
      position: absolute;
      top: 45px;
      right: 0px;
      font-size: 14px;
    }
  }

  i:hover {
    cursor: pointer;
  }

  i {
    display: flex;
    justify-content: flex-end;
    color: #bfbfbf;
    width: 8%;
    font-size: 1.2em;
  }

  @media (min-width: 767px) {
    i {
      width: 5%;
      font-size: 1.4em;
    }
  }

  @media (min-width: 992px) {
    i {
      width: 3.5%;
      font-size: 1.6em;
    }
  }
}
